<ion-header class="login-header auth-header">
    <ion-navbar>
        <!-- <img class="logo" src="assets/images/Smartneta/BJP_logo.svg.png"> -->
        <img class="logo" src="{{imageUrl}}">
        <button ion-button menuToggle>
            <ion-icon class="menu_icon" name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="buttons">
        <h2 class="head">{{'Select Department' | translate}}</h2>
    </div>
    <ion-card *ngFor="let d of depts" (click)="next(d)" [ngClass]="(deptId==d.id)?'active':''">
        <ion-card-content class="card_content_padding">
            <ion-row class="record" >
                <ion-col class="logo_col" col-3>
                    <img class="dept_logo" src="assets/images/Smartneta/councillogo.png">
                </ion-col>
                <ion-col class="dept" col-9>
                    {{d.name}}
                </ion-col>
            </ion-row>   
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <p class="footer" *ngIf="descText!=undefined">&copy;{{descText.footer}} <a href="http://smartneta.com/privacy-policy/"><u class="privacy">Privacy Policy</u></a></p>
</ion-footer>