settings{
    .logo{
        width: 42px;
        margin-left: 5px;
        vertical-align: middle;
    }
    .toolbar-content-md{
        display: table-cell;
    }
    .head{
        text-align: center;
    }
    .menu_icon{
        float: right;
        font-size: 30px;
        padding-right: 10px;
        padding-top: 7px;
        color: black;
    }   
    .auth-header .toolbar-background {
        background-color: white;
    }
    .footer{
        padding: 0px 15px;
        // background-color: #ed9622;
        background-color: #444;
        color:white;
    }
    .privacy{
        color: #00748f !important;
    }
    ion-list.list.list-md{
        margin-top: 10px;
    }
}